:root {
  --back-color-black: #0D0D0D;
  --color-gry: #404040;
  --color-gry-2: #131313;
  --color-gry-3: #5b5b5b;
  --color-main-1: #8C2020;
  --color-main-2: #BF8173;
  --color-main-3: #BF3030;
  --transition: all .3s;
  --padding-top: 120px;
  --padding-bottom: 100px;
  --white: #fff;
  --fnt-13: 13px;
  --fnt-14: 14px;
  --fnt-15: 15px;
  --fnt-16: 16px;
  --fnt-17: 17px;
  --fnt-18: 18px;
  --fnt-19: 19px;
  --fnt-20: 20px;
  --fnt-22: 22px;
  --fnt-25: 25px;
  --fnt-28: 28px;
  --fnt-30: 30px;
  --fnt-32: 32px;
  --fnt-35: 35px;
  --fnt-38: 38px;
  --fnt-42: 42px;
  --fnt-45: 45px;
  --fnt-48: 48px;
  --fnt-150: 150px;
}

body {
  background-color: var(--back-color-black) !important;
  color: var(--white) !important;
}

* {

  font-family: 'Cairo', sans-serif !important;

}

img {
  max-width: 100%;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-gry);


}

::-webkit-scrollbar-thumb {
  background-color: var(--color-main-1);
  border-radius: 30px;

}